{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title  %} | home{% endblock%}
{% block content%}

<div class="home-container">

    <!-- form section  -->

    
    <div class="form-section">
        <div class="form-container">
            <div class="form-title-section">
                <h2>Property Searching Just <br> So Easy</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veniam beatae sed suscipit,</p>
            </div>
            <div class="form-input-section">
            <form action="{% url 'search' %}">
                <div class="top-inputs">
                    <input id="keyword"type="text" name='keywords' value='{{ values.keywords }}' placeholder="Search" />
                    <input id="city"type="text" value='{{ values.city }}' name='city' placeholder="City" />
                    
                </div>
                <div class="middle-inputs">
                    <select id="state" name="state">
                        <option selected='true' disabled='Disabled'>state ( all )</option>
                        {% for key, value in state_choices.items %}
                            <option value="{{ key }}" {% if key == values.state %} selected {% endif%}>{{value}}</option>
                        {% endfor %}
                    </select>
                    <select id="bedrooms" name="bedrooms">
                        <option selected='true' disabled='Disabled'>bedroooms any</option>
                        {% for key,value in bedroom_choices.items %}
                            <option value="{{key}}" {% if key == values.bedrooms %} selected {% endif%}>{{value}}</option>
                        {% endfor %}
                    </select>
                    <select id="price" name="max_price">
                        <option selected='true' disabled='Disabled'>prices </option>
                        {% for key,value in price_choices.items %}
                            <option value="{{key}}" {% if key == values.max_price %} selected {% endif%} >{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="button-input" >
                    <button type="submit">Find</button>
                </div>
            </form>
        </div>
        </div>
    </div>


    <!-- latest listing  -->


    <div class="latest-listing-section">
        <div class="latest-listing-title">
            <h2>Latest Listings</h2>
        </div>
        <ul class='flex-listing'>
            {% if listings %}
                {% for listing in listings%}
                <li>
                    <div class="list-container">
                        <div class="title-section">
                            <div class="big-price">
                                <h2>Rs.{{ listing.price | intcomma }}</h2>
                            </div>
                            <div class="image"><img src="{{ listing.photo_main.url}}" alt="btre"></div>
                            <h5 class="listing-title">{{ listing.title}}</h5>
                            <h5 class="listing-sub-title">{{ listing.city}}, {{ listing.state}},{{ listing.zipcode }}</h5>
                        </div>
                        <div class="advantages-section">
                            <div>
                                <img src="{% static './img/avg-icons/sqft.svg' %}" alt="sqft icon">
                                <h5>sqft: {{ listing.sqft}}</h5>
                            </div>
                            <div>
                                <img src="{% static './img/avg-icons/garage.svg' %}" alt="garage icon">
                                <h5>garage: {{ listing.garage }}</h5>
                            </div>
                            <div>
                                <img src="{% static './img/avg-icons/bedrooms.svg' %}" alt="bedrooms icon">
                                <h5>bedrooms: {{ listing.bedrooms }}</h5>
                            </div>
                            <div>
                                <img src="{% static './img/avg-icons/bathrooms.svg' %}" alt="bathrooms icon">
                                <h5>bathrooms: {{listing.bathrooms}}</h5>
                            </div>
                        </div>
                        <div class="owner-section">
                            <div>
                                <img src="{% static 'img/owr-icons/user.svg' %}" alt="">
                                <h5>{{ listing.realtor }}</h5>
                            </div>
                            <div>
                                <img src="{% static 'img/owr-icons/time.svg' %}" alt="">
                                <h5>{{ listing.list_date | timesince }}</h5>
                            </div>
                        </div>
                        <div class="button-section">
                            <a href="{% url 'listing' listing.id %}">
                                <button type="button">more info</button>
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor%}
            {% else %}
                <p>No listings available</p>
            {% endif%}
        </ul>
    </div>
</div>

{% endblock %}